<div class="d-flex align-items-start bg-body-tertiary mb-3 battle-board">
	<div class="col battle-matches" *ngFor="let competition of competitions">
		<h3>{{ competition.name | titlecase }}</h3>
		<form [formGroup]="competitionForms[competition.name]" (ngSubmit)="updateTeams(competition.name)">
			<div formArrayName="rows">
				<div *ngFor="let row of getRowsFormArray(competition.name).controls; let i = index" [formGroupName]="i">
					<div class="row gy-2 gx-3 mb-3 align-items-center">
						<div class="col-auto">
							<mdb-form-control>
								<input
									mdbInput
									type="text"
									id="{{ competition.name }}-teamName-{{ i }}"
									class="form-control"
									formControlName="teamName"
								/>
								<label mdbLabel class="form-label" for="{{ competition.name }}-teamName-{{ i }}"
									>Team Name</label
								>
							</mdb-form-control>
						</div>
						<div class="col-auto">
							<mdb-form-control>
								<mdb-select formControlName="roomColor">
									<mdb-option
										*ngFor="let color of ['default', 'purple', 'green', 'orange']"
										[value]="color"
										>{{ color | titlecase }}</mdb-option
									>
								</mdb-select>
								<label mdbLabel class="form-label" for="{{ competition.name }}-roomColor-{{ i }}"
									>Room Color</label
								>
							</mdb-form-control>
						</div>
					</div>
				</div>
			</div>
			<div>
				<button
					type="button"
					class="btn btn-danger"
					(click)="removeRow(competition.name, getRowsFormArray(competition.name).controls.length - 1)"
				>
					Remove Row
				</button>
				<button type="button" class="btn btn-secondary" (click)="addRow(competition)">Add Row</button>
				<button type="submit" class="btn btn-primary">Submit {{ competition.name | titlecase }}</button>
			</div>
		</form>
	</div>
</div>
